#page-2 {
	background-color: #fff;
	overflow: hidden;
}
.p2-inner{
	height: 90%;
	background-color: #fff;
}
.page2-desc-wrapper{
	width: 390px;
	word-break: break-word;
	float: right;
	margin-right: 40px;
	margin-top: -30px;
}
.page2-desc-wrapper h2{
	font-size: 34px;
	margin-bottom: 5px;
	height: 58px;
	line-height: 58px;
}
.page2-desc-wrapper h2 i{
	font-style: normal;
	display: inline-block;
	width: 58px;
	height: 58px;
	line-height: 58px;
	border-radius: 50%;
	border: 2px solid #ef4842;
	color: #ef4842;
	text-align: center;
	margin-right: 30px;
	font-size: 30px;
	vertical-align: middle;
}
.page2-desc-wrapper a.desc{
	margin-bottom: 30px;
	display: block;
	cursor: pointer;
	opacity: 0;
	position: relative;
	top: 20px;
	color: #666;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.page2-desc-wrapper a.animate{
	top: 0;
	opacity: 1;
}
.page2-desc-wrapper a.desc:hover{
	color: #666;
	text-decoration: none;
}
.page2-desc-wrapper a.active i{
	color: #fff;
	background: #ef4842;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.page2-desc-wrapper a.active h2{
	color: #ef4842;
}
.page2-desc-wrapper p{
	width: 320px;
	padding-left: 94px;
	height: 80px;
	max-height: 0;
	overflow: hidden;
	text-decoration: none;
	font-size: 16px;
	-webkit-transition: all .5s;
	transition: all .5s;
	line-height: 28px;
}
.page2-desc-wrapper a.active p{
	max-height: 80px;
}
.page2-desc-wrapper a.desc .line{
	width: 320px;
	border-top: 1px dashed #666666;
	position: absolute;
	left: -320px;
	top: 30px;
	max-width: 0;
	left: 0;
	z-index: 6;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.page2-desc-wrapper a.active .line{
	max-width: 320px;
	left: -320px;
}
.page2-device{
	position: relative;
	width: 820px;
	float: left;
	margin: 160px 0 0 0;
}
.page2-device .layer{
	background-image: url(../images/p2.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	width: 100%;
	height: 330px;
	opacity: 0;
	top: 0; left: 60px;
	-webkit-transition: all .6s ease .2s;
	transition: all .6s ease .2s;
}
.page2-device .phone{
	background-image: url(../images/p2.png);
	background-repeat: no-repeat;
	background-position: 0 -1335px;
	width: 100%;
	height: 457px;
}
.page2-device .layer1{
	background-position: 0 0;
	opacity: 1;
	z-index: 4;
}
.page2-device .layer2{
	background-position: 0 -330px;
	opacity: 1;
	z-index: 3;
}
.page2-device .layer3{
	background-position: 0 -670px;
	opacity: 1;
	z-index: 2;
}
.page2-device .layer4{
	background-position: 0 -998px;
	opacity: 1;
	z-index: 1;
}
.page2-device .layer1-active{
	top: -280px;
}
.page2-device .layer2-active{
	top: -200px;
}
.page2-device .layer3-active{
	top: -120px;
}
.page2-device .layer4-active{
	top: -40px;
}
.page2-device .layer1-ignore{
	left: -250px;
	top: -290px;
}
.page2-device .layer2-ignore{
	left: -250px;
	top: -240px;
}
.page2-device .layer3-ignore{
	left: -250px;
	top: -190px;
}
.page2-device .layer4-ignore{
	left: -250px;
	top: -140px;
}

/* 0.13.0 */
.p2-banner{width: 1300px; margin-left: -670px; margin-top: -220px;}
.p2-inner .ico{width: 58px;height: 58px;display: block;background-image:url(../images/p2-icon.png);background-repeat: no-repeat;vertical-align: middle;}
.p2-inner .ico-0{background-position: 0 0}
.p2-inner .ico-1{background-position: -58px 0}
.p2-inner .ico-2{background-position: -116px 0}
.p2-inner .ico-3{background-position: -174px 0}
.p2-inner .ico-4{background-position: -232px 0}
.p2-inner .active .ico-0{background-position: 0 -58px}
.p2-inner .active .ico-1{background-position: -58px -58px}
.p2-inner .active .ico-2{background-position: -116px -58px}
.p2-inner .active .ico-3{background-position: -174px -58px}
.p2-inner .active .ico-4{background-position: -232px -58px}